body{
	background: #000;
	color: #fefefe;
}
.grid-container{
	display: grid;
	grid-template-columns: repeat(12, 7%);
	grid-template-rows: 100px 100px 100px;
	grid-column-gap: 19px;
}
.grid-element{
	padding: 20px;
	font-size: 2em;
	background-color: #726;
	box-sizing: border-box;
}
.item-1{
	background-color: rgba(0,50,100,0.7);
}
.item-2{
	background-color: rgba(0,50,100,0.6);
}
.item-3{
	background-color: rgba(0,50,100,0.5);
}
.item-4{
	background-color: rgba(0,50,100,0.4);
}
.item-5{
	background-color: rgba(0,50,100,0.3);
}
.item-6{
	background-color: rgba(0,50,100,0.2);
}
.item-7{
	background-color: rgba(0,50,100,0.1);
}
.item-8{
	background-color: rgba(0,50,100,0.2);
}
.item-9{
	background-color: rgba(0,50,100,0.3);
}
.item-10{
	background-color: rgba(0,50,100,0.4);
}
.item-11{
	background-color: rgba(0,50,100,0.5);
}
.item-12{
	background-color: rgba(0,50,100,0.6);
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid rgba(0,50,100,0.9);

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

